VITE_FIREBASE_API_KEY=isi-api-key-di-sini
VITE_FIREBASE_AUTH_DOMAIN=nama-project-kamu.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=nama-project-kamu
VITE_FIREBASE_STORAGE_BUCKET=nama-project-kamu.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=isi-sender-id
VITE_FIREBASE_APP_ID=isi-app-id
